* {
  margin: 0;
  padding: 0;
}


.header{
  font-size: 3rem;
  display: flex;
  align-items: left;
  justify-content: start;
  background-color: gold;
  height: 100px;

}
.header p{
  margin: 15px;
  font: bold;
  color: white;
}